<div class = "flex-column plays-index-content-wrapper plays-index-deactivated" id = "deleted-plays-wrapper">
		<div class = "plays-index-content">
			<div class = "plays-and-playlists">
				<div class = "plays-row-wrapper">
					<div class = "play-back-wrapper">
						<button class = "modal-back-button" onclick = "back_to_previous()">
		        			<object data='<%=asset_path("back-arrow.svg")%>' type="image/svg+xml" class = "back-arrow-img">
		                          <%= image_tag("back-arrow.png", :alt => "back-arrow", :class => "back-arrow-img") %>	
		                     </object>
		        		</button>
		        		<div class = "plays-buttons-wrapper">
			        		<button class = "modal-back-button settings-button" id = "deleted-settings-button" onclick = "bulk_actions()">
			        			<object data='<%=asset_path("settings.svg")%>' type="image/svg+xml" class = "settings-img">
			                          <%= image_tag("settings.png", :alt => "back-arrow", :class => "settings-img") %>	
			                     </object>
			        		</button>
			        	</div>
			        	<div class = "settings-wrapper playlist-settings-wrapper" id = "deleted-settings-wrapper" style = "display: none;">
		        			<button class = "settings-action" onclick = "delete_all()">Delete All</button>
		        			<button class = "settings-action" onclick = "recover_all()">Recover All</button>
		        		</div>
		        	</div>
					<div class = "plays-full-heading">Deleted Plays</div>
					<div class = "plays-full-subheading">Deleted plays will remain accessible for a 30 day period, after which they will be automatically deleted fully. </div>
					<div class = "plays-full" id = "deleted-plays">
						<%counter = 0%>
						<%@deleted_plays.each do |play| %>
							<div class = "play-image-block-wrapper soft-deleted" id = "play-deleted-<%=play.id%>" data-play-id = "<%=play.id%>">
								<div class ="play-image-block flex-row">
									<button class= "play-index-image" id = "play-image-<%=play.id%>" data-play-id = "<%=play.id%>">
										<%= link_to show_vs_edit(play.id), :class => "play-link" do %>
											<%= image_tag(@deleted_plays_progressions[counter].first.play_image, :alt => "play", :class => "play-img-full recently_viewed", :id => counter) %>
										<%end%>
									</button>
								</div>
								<div class = "play-link-text"><%= link_to play.name, show_vs_edit(play.id) %></div>
								<div class = "flex-row deleted-play-actions">
									<button class = "remove-play-button deleted-play-action" onclick = "full_delete(<%=play.id%>)">Full Delete</button>
									<button class = "recover-play-button deleted-play-action" onclick = "recover_play(<%=play.id%>)">Recover</button>
								</div>
							</div>
							<%counter+=1%>
						<%end%>
					</div>
				</div>
				
			</div>
		</div>
	</div>


	<script type="text/javascript">

		function bulk_actions(){
			$("#deleted-settings-wrapper").show()
			$('#deleted-plays-wrapper').on("mousedown", function(e){
				console.log(e.target)
				if(!$(e.target).hasClass("settings-action")){
					collapse_bulk_actions()
				}
			})
		}

		function collapse_bulk_actions(){
			$("#deleted-settings-wrapper").hide()
		}

		function insertPlayInDom(result){
			var play_image_block_wrapper = '<div class = "play-image-block-wrapper" id = "play-all-'+result.play_id+'" data-play-id = "'+result.play_id+'"></div>'
			var play_image_block = '<div class ="play-image-block flex-row" ></div>'
	 		var button = '<button class= "play-index-image" id = "play-image-'+result.play_id+'" data-play-id = "'+result.play_id+'"></button>'

	 		var delete_object = '<object data="<%=asset_path("delete.svg")%>" type="image/svg+xml" class = "delete-img delete-play delete-svg not-editing"><%= image_tag("delete.png", :alt => "delete-progression", :class => "delete-img delete-play") %></object>'


	 		var link = '<a class="play-link" href="/teams/<%=@team_id%>/plays/'+result.play_id+'/edit"></a>'
	 		var play_img = '<img alt="play" class="play-img-full playlist" src="'+result.progression_img+'">'
	 		var play_link_text = '<div class = "play-link-text"><a href="/teams/<%=@team_id%>/plays/'+result.play_id+'/edit">'+result.play_name+'</a></div>'
	 		$("#all-plays").append($(play_image_block_wrapper).append($(play_image_block).append($(button).append($(delete_object)).append($(link).append(play_img)))).append(play_link_text))

	 		$('.play-link').click(function(e) {
				if(editing){
					e.preventDefault();
				}
			});
			set_delete_button_position()
		}

		function recover_all(){
			var recover_all_url = "/teams/" + <%= @team_id %> +"/plays/recover_all"
			$(".soft-deleted").each(function(){
				$(this).remove()
			})
			collapse_bulk_actions()
			$.ajax({
		      url: recover_all_url,
		      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		      method: "post",
		      data_type: 'json',
		      success: function(result){
		      	console.log(result)
		      	var recovered_plays = result.content
		      	$(recovered_plays).each(function(){
		      		console.log(this)
		      		insertPlayInDom(this)
		      	})
		      }
		    });
		}

		function delete_all(){
			var delete_all_url = "/teams/" + <%= @team_id %> +"/plays/delete_all"
			$(".soft-deleted").each(function(){
				$(this).remove()
			})
			collapse_bulk_actions()
			$.ajax({
		      url: delete_all_url,
		      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		      method: "post",
		      data_type: 'json',
		      success: function(result){
		      	console.log("success")
		      }
		    });
		}


		function recover_play(play_id){
			var delete_url = "/teams/" + <%= @team_id %> +"/plays/" + play_id + "/recover";
		 	$.ajax({
		      url: delete_url,
		      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		      method: "post",
		      data_type: 'json',
		      success: function(result){
		      	removeFromDeletedDom(result.play_id)
		      	insertPlayInDom(result, result.play_id)
		      }
		    });
		}

		function removeFromDeletedDom(play_id){
			$("#play-deleted-"+play_id).remove()
		}

		function setDeletedActionsPos(playlist_id){
		 	$("#deleted-settings-wrapper").css("top", $("#deleted-settings-button").offset().top + $("#deleted-settings-button").height() + 5)
		  	$("#deleted-settings-wrapper").css("left", $("#deleted-settings-button").offset().left - $("#deleted-settings-wrapper").outerWidth() + $("#deleted-settings-button").width())
		 }

		function full_delete(play_id){
			var delete_url = "/teams/" + <%= @team_id %> +"/plays/" + play_id;
		 	$.ajax({
		      url: delete_url,
		      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		      method: "delete",
		      data_type: 'json',
		      success: function(){
		      	removeFromDeletedDom(play_id)
		      }
		    });
		}
	</script>
