<%= bootstrap_form_for(@team) do |f| %>
  <%= f.text_field  :name, 
                    maxlength: 100, 
                    placeholder: 'Team Name (what is displayed on your page)', 
                    class: 'form-control',
                    required: true, 
                    minlength: 5,
                    maxlength: 100 %>
  <%= f.text_field  :username, 
                    maxlength: 100, 
                    placeholder: 'Unique Username', 
                    class: 'form-control',
                    required: true, 
                    minlength: 5,
                    maxlength: 100 %>
  <%= f.text_field  :password, 
                    maxlength: 100, 
                    placeholder: 'Choose a password so others can join', 
                    class: 'form-control',
                    required: true, 
                    minlength: 5,
                    maxlength: 100 %>

    <div>Choose a primary color</div>

    <%= f.radio_button :primary_color, "Red", :id=>"red"  %>
        

    <%= f.radio_button :primary_color, "Orange", :id=>"orange"  %>
        

    <%= f.radio_button :primary_color, "Yellow", :id=>"yellow" %>

    <%= f.radio_button :primary_color, "Green", :id=>"green"  %>
        

    <%= f.radio_button :primary_color, "Blue", :id=>"blue"  %>
        

    <%= f.radio_button :primary_color, "Purple", :id=>"purple" %>

    <%= f.radio_button :primary_color, "White", :id=>"white"  %>
        

    <%= f.radio_button :primary_color, "Grey", :id=>"grey"  %>
        

    <%= f.radio_button :primary_color, "Black", :id=>"black" %>

    <%= f.radio_button :primary_color, "Brown", :id=>"brown"  %>
        

    <%= f.radio_button :primary_color, "SkyBlue", :id=>"sky_blue"  %>

    <div>Choose a Secondary color</div>

    <%= f.radio_button :secondary_color, "Red", :id=>"red"  %>
        

    <%= f.radio_button :secondary_color, "Orange", :id=>"orange"  %>
        

    <%= f.radio_button :secondary_color, "Yellow", :id=>"yellow" %>

    <%= f.radio_button :secondary_color, "Green", :id=>"green"  %>
        

    <%= f.radio_button :secondary_color, "Blue", :id=>"blue"  %>
        

    <%= f.radio_button :secondary_color, "Purple", :id=>"purple" %>

    <%= f.radio_button :secondary_color, "White", :id=>"white"  %>
        

    <%= f.radio_button :secondary_color, "Grey", :id=>"grey"  %>
        

    <%= f.radio_button :secondary_color, "Black", :id=>"black" %>

    <%= f.radio_button :secondary_color, "Brown", :id=>"brown"  %>
        

    <%= f.radio_button :secondary_color, "SkyBlue", :id=>"sky_blue"  %>
        
        
  <%= f.submit "Create a Team", class: 'form-control' %>
<% end %>