 <% content_for(:body_attributes) do %>
    data-turbolinks="false"
  <% end %>

<div class = "content-page-landing">
	<%= image_tag("scorebook.png", :alt => "plays", :class => "content-page-landing-img") %>
	<div class = "content-page-landing-title">Lineup Explorer</div>
</div>

<div id = "lineup-explorer">
	<div class = "lineups-grid">
		<div id = "ordering-column">
			<div class = "lineup-order-header">Sort Lineups</div>
			<div id = "lineup-order-links">
				<div id = "basketball-selector"><%= image_tag("basketball-bullet.png", :alt => "bball-icon", :class => "basketball-bullet") %></div>
				<div class = "lineup-order-links">
					<button id = "stat-link-16" class = "stat-link stat-link-selected" onclick = "sort_lineups(this, 16, false)">Minutes</button>
				</div>

			</div>
		</div>
		<div id = "lineups-wrapper">
			<div id = "lineups-container">
				
			</div>
		</div>
	</div>
</div>
<%= render 'stats/radar/radar_js' %>
<%= render 'lineup_js' %>
<script>
	var display_stats = [];
	var lineup_stats = [];
	var desired_off_stats = [15, 27, 7, 3, 29, 28]
	var per_minute_factor = <%=@minutes_factor%>
	console.log(per_minute_factor)
	populate_basic_stat_table_columns()
	initialize_stat_array()
	insert_lineup_modules()

	var basketball_icon = $('<%= image_tag("basketball-bullet.png", :alt => "bball-icon", :class => "basketball-bullet") %>')
	
	insert_order_links()
	sort_lineups("#stat-link-16", 16, false)

	function establish_hover_rules(){
		$( ".expand-container" ).hover(
		  function() {
		  	console.log("hovering")
		    $( this ).find(".more-text").css("color", "black") ;
		    $( this ).find(".more-circle").css("stroke", "black") ;
		    $( this ).find(".more-arrow").css("fill", "black") ;
		  }, function() {
		    $( this ).find(".more-text").css("color", "#868696") ;
		    $( this ).find(".more-circle").css("stroke", "#868696") ;
		    $( this ).find(".more-arrow").css("fill", "#868696") ;
		  }
		);

		$( ".expand-container").click(function(){
			var parent = $(this).parents(".lineup-module")
			 if(parent.find(".non-default-stat").hasClass("lineup-stat-inactive")){
			 	parent.find(".non-default-stat").removeClass("lineup-stat-inactive")
			 	parent.find(".lineup-table-container").removeClass("lineup-stat-inactive")
			 	parent.find(".flex-end-container").hide()
				parent.find(".radar-w-minutes").css("height", "inherit")
				parent.find(".less-link-container").removeClass("lineup-stat-inactive")
			 }
			 else{
			 	parent.find(".non-default-stat").addClass("lineup-stat-inactive")
			 	parent.find(".lineup-table-container").addClass("lineup-stat-inactive")
			 	parent.find(".flex-end-container").show()
				parent.find(".radar-w-minutes").css("height", "100%")
				parent.find(".less-link-container").addClass("lineup-stat-inactive")
			 }

		});
	}
	

	





</script>

