
<div id = "edit-team-stats" class = "dark-block">
	<div id = "edit-stats-block">
		<div class = "page-subheader" id = "create-team-header">Edit Team</div>
		<div id = "team-info-block">
			<div class = "new-form new-team-secondary-color" >
				<div class = "team-info-input">
					<label for="enter-team-name">Edit team name</label><br>
					<input type = "text" class = "new-team-input" id = "enter-team-name" value="<%=@team.name%>">
				</div>
				<div class = "team-info-input">
					<label for="enter-unique-username">Edit unique username. This is what players and other team members will use to join the team.</label><br>
						<input type = "text" class = "new-team-input" id = "enter-unique-username" value= "<%=@team.username%>">
				</div>
				<div class = "team-info-input">
					<label for="choose-password">Edit password for others to join the team.</label><br>
					<input  id = "choose-password"class = "new-team-input"  value="<%=@team.password%>" type = "password">
				</div>
				<div class = "team-info-input">
					<label for="minutes-per-quarter">Edit length of quarters</label><br>
					<input type = "number" class = "new-team-input" id = "minutes-per-quarter" value = "<%=@team.minutes_p_q%>">
				</div>
			</div>
			<div id = "add-players-block">
				<div class = "new-form new-team-secondary-color">
					<label for="add_player">Add/remove players</label><br>
					<input type = "text" class = "new-team-input" id = "add_player">
					<button class="btn btn-primary" onclick = "add_player()">Add Player</button>	
				</div>
				<div id = "current-members">
								
				</div>
			</div>
		</div>
		<div id = "team-stat-grid">
			<div id = "edit-stats-header">
				Edit Stats
			</div>
			<div id = "stat-choices-grid">
				<div id = "choose-stats"> 
					<div class = "stat-choice-header">Choose Additional Stats</div>
					<div class = "stat-choice-grid">
						<div class = "stats-choice-box">
							<div id = "choose-basic-collectors">
								<% @non_default_collectable_add.each do |stat| %>
									<button class = "stat-choice stat-choice-active" type = "button" onclick="to_your_stats(this, 'basic', '<%= stat.stat %>', <%= stat.id %>)"> <%= stat.stat %> </button>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div id = "your-basic-stats"> 
					<div class = "stat-choice-header">Your basic stats</div>
					<div class = "your-stats-grid">
						<div class = "stats-choice-box">
							<div id = "basic-collectors">
								<% @default_basic.each do |stat| %>
									<div class = "stat-choice stat-choice-active"> <%= stat.stat %> </div>
								<% end %>
								<% @non_default_collectable_belongs.each do |stat| %>
									<button class = "stat-choice stat-choice-active" type = "button" id = "stat-<%=stat.stat_list_id%>" onclick="to_choose_stats(this, 'basic', '<%= stat.stat %>', <%= stat.stat_list_id %>)"> <%= stat.stat %> </button>

								<% end %>
							</div>
						</div>
					</div>
				</div>
				<div id = "your-advanced-stats"> 
					<div class = "stat-choice-header">Your Advanced stats</div>
					<div class = "adv-stats-grid">
						<div class = "stats-choice-box">
							<div class = "stat-choice-subheader new-team-secondary-color">Advanced individual stats</div>
							<div id = "adv-individual">
								<%@default_indiv_advanced.each do |stat|%>
									<button class = "stat-choice stat-choice-active" type = "button" id = "stat-<%=stat.id%>" onclick="to_choose_stats(this, 'advanced', '<%= stat.stat %>', <%= stat.id %>)"> <%= stat.stat %> </button>
								<%end%>

								<%@non_default_advanced_belongs.each do |stat|%>
									<button class = "stat-choice stat-choice-active" type = "button" id = "stat-<%=stat.stat_list_id%>" onclick="to_choose_stats(this, 'advanced', '<%= stat.stat %>', <%= stat.stat_list_id %>)"> <%= stat.stat %> </button>
								<%end%>

								

								<%@non_default_advanced_add.each do |stat|%>
									<button class = "stat-choice stat-choice-inactive" id = "stat-<%=stat.id%>"> <%= stat.stat %> </button>
								<%end%>
							</div>
						</div>
						<div class = "stats-choice-box">
							<div class = "stat-choice-subheader new-team-secondary-color">Advanced team stats</div>
							<div id = "adv-team">
								<%@default_team_advanced.each do |stat|%>
									<button class = "stat-choice stat-choice-active" type = "button" id = "stat-<%=stat.id%>" onclick="to_choose_stats(this, 'advanced', '<%= stat.stat %>', <%= stat.id %>)"> <%= stat.stat %> </button>
								<%end%>
								<%@non_default_team_advanced_belongs.each do |stat|%>
									<button class = "stat-choice stat-choice-active" type = "button" id = "stat-<%=stat.stat_list_id%>" onclick="to_choose_stats(this, 'advanced', '<%= stat.stat %>', <%= stat.stat_list_id %>)"> <%= stat.stat %> </button>
								<%end%>
								
								<%@non_default_team_advanced_add.each do |stat|%>
									<button class = "stat-choice stat-choice-inactive" id = "stat-<%=stat.stat_list_id%>"> <%= stat.stat %> </button>
								<%end%>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div id = "button-bar">
			<button class = "bar-button bar-button-offset" id = "edit-stats-submit" onclick = "submit_edit_team()">Submit</button>
		</div>
	</div>


</div>

<div id = "edit-roster-block">
	
</div>
<%= render "edit_team_stats_js"%>

<script>
	var stats_to_add = []
	var stats_to_remove = []
	var non_default_adv_stats = []
	var non_default_team_adv_stats = []
	var curr_players = []
	var curr_player_ids = []
	var new_players = []
	var remove_players = []
	initialize_adv_stats()
	initialize_stats_kept()
	initialize_players()
	


	function initialize_players(){
		<%@players.each do |player|%>
			curr_players.push("<%=player.nickname%>")
			curr_player_ids.push(<%=player.id%>)
			$("#current-members").append("<button class = 'new-player' onclick = 'remove_player(this)'><div class = 'new-player-name'> <%=player.nickname%> </div><div class = 'remove-player-x'> x </div></button>")
		<%end%>
	}


	function add_player(){
		var player = $("#add_player").val()
		$("#add_player").val("")
		if(player != ""){
 			new_players.push(player);
			$("#current-members").append("<button class = 'new-player' onclick = 'remove_player(this)'><div class = 'new-player-name'>" + player + "</div><div class = 'remove-player-x'> x </div></button>")
		}
		else {
			alert("Enter player name")
		}
		
	}


	function remove_player(button){
		var r = confirm("Are you sure you want to remove this player? Once you do the action cannot be undone");
		if (r == true) {
			  var player = button.childNodes[0].innerText
			var index = curr_players.indexOf(player)
			if(index >= 0){
				remove_players.push(curr_player_ids[index])
				$(button).remove();
			}
			else{
				new_players.splice(new_players.indexOf(player),1)
				$(button).remove();
			}
		}
	}

	function show_team_stat_block(){
		$("#team-info-block").hide()
		$("#team-stat-grid").show()
	}

	function show_team_info_block(){
		$("#team-info-block").show()
		$("#team-stat-grid").hide()
	}

	function submit_edit_team(){
		var team_name = $("#enter-team-name").val()
		var minutes_p_q = $("#minutes-per-quarter").val()
		var url = "/teams/" + <%=@team_id%> + "/settings/"
		$.ajax({
	      url: url,
	      beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	      type: "post",
	      data_type: 'json',
	      data: {stats_to_add: stats_to_add, stats_to_remove: stats_to_remove, new_players: new_players, remove_players: remove_players, team_name: team_name, minutes_p_q: minutes_p_q}
	    });
	}
</script>
