<script>
	var show_player_stats_table = document.getElementById("player-stats-table");
	var show_team_stats_table = document.getElementById("team-stats-table");
	var show_adv_stats_player_table = document.getElementById("adv-player-stats-table");
	var display_stats = [];
	var display_stats_adv = []
	var player_stats = [];
	var team_stat_array = [];
	var opponent_stat_array = [];


	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/
	/*************************************************************** <STAT TABLE> *****************************************************************/
	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/

	function populate_display_stats_basic(){
		<% @stat_table_columns.each do |display_stat| %>
			display_stats.push({"stat": "<%= display_stat[:stat_name] %>", "display_priority": "<%= display_stat[:display_priority] %>", "display_type" : "<%= display_stat[:display_type] %>", "percentage_string":  "<%= display_stat[:percentage_string] %>"})
		<% end %>
	}

	function populate_display_stats_adv(){
		<% @adv_stat_table_columns.each do |display_stat| %>
			display_stats_adv.push({"stat": "<%= display_stat[:display_name] %>", "display_priority": "<%= display_stat[:display_priority] %>", "stat_name":  "<%= display_stat[:stat_name] %>"})
		<% end %>
	}

	function populate_stat_array(){
		var i = 0;
		player_id_arr = [];
		<% @player_stats.each do |stat|%>
			var len = player_id_arr.length
			if(player_id_arr[len - 1] !=  "<%= stat.member_id%>"){
				player_id_arr.push("<%= stat.member_id%>");
				var player_obj = {"id" : "<%= stat.member_id%>", "name" : "<%= stat.nickname%>" , "stat_arr" : [], "adv_stat_arr" : []}
				player_stats.push(player_obj);
				i++;
			}
			player_stats[i-1].stat_arr.push({"value": "<%= stat.value%>", "stat_list_id" : "<%= stat.stat_list_id%>", "display_priority" : "<%= stat.display_priority%>"})
		<%end%>

		var j = 0;

		<% @advanced_stats.each do |stat|%>
			if("<%= stat.member_id%>" != player_stats[j].id){
				j++;
			}
			player_stats[j].adv_stat_arr.push({"value": "<%= stat.value%>","stat_list_id" : "<%= stat.stat_list_id%>" ,"display_priority" : "<%= stat.display_priority%>"})
		<%end%>
		console.log(player_stats)
	}

	function populate_team_stats(){
		<% @team_stats.each do |stat| %>
			team_stat_array.push({"value": "<%= stat.value%>", "stat_list_id" : "<%= stat.stat_list_id%>", "display_priority" : "<%= stat.display_priority%>", "name" : "<%= @team.name %>"})
		<%end %>

		<% @opponent_stats.each do |stat| %>
			opponent_stat_array.push({"value": "<%= stat.value%>", "stat_list_id" : "<%= stat.stat_list_id%>", "display_priority" : "<%= stat.display_priority%>", "name" : "<%= @opponent.name %>"})
		<%end %>
	}

	function populate_stat_table(){
		var stats_row = show_team_stats_table.insertRow(0);
		var team_row = show_team_stats_table.insertRow(1);
		var opponent_row = show_team_stats_table.insertRow(2);
		
		populate_basic_row(stats_row, 0, false);
		populate_basic_row(team_row, 1, false, team_stat_array);
		populate_basic_row(opponent_row, 2, false, opponent_stat_array);

		var num_players = player_stats.length
		var i = 0;
		for(i; i < num_players +1; i++){
			var basic_row = show_player_stats_table.insertRow(i);
			var advanced_row = show_adv_stats_player_table.insertRow(i)
			populate_basic_row(basic_row, i, true);	
			populate_advanced_row(advanced_row, i, true);
		}
		
	}

	function populate_advanced_row(row, i, is_player, team){
		var insert_index = 0;
		var num_stats = display_stats_adv.length
		var player = (is_player) ? player_stats[i-1] : team;

		for(j = 0 ;j < num_stats + 1; j++){
			var col = row.insertCell(insert_index);

			if (j == 0 && i > 0){
				if(is_player){
					column_header = player_stats[i-1].name;
				}else{
					column_header = team[0].name;
				}
				col.innerHTML += "<div>" + column_header + "</div>";
			}
			else if(i == 0 && j > 0){
				col.innerHTML += "<div>" + display_stats_adv[j - 1].stat + "</div>";
			}
			else if (i > 0 && j > 0){
				insert_standard_data(col, display_stats_adv[j - 1].display_priority, player, is_player, true)
			}
			insert_index++;
		}
	}

	function populate_basic_row(row, i, is_player, team){
		var insert_index = 0;
		var num_stats = display_stats.length
		var player = (is_player) ? player_stats[i-1] : team;

		for(j = 0 ;j < num_stats + 1; j++){
			var col = row.insertCell(insert_index);

			if (j == 0 && i > 0){
				if(is_player){
					column_header = player_stats[i-1].name;
				}else{
					column_header = team[0].name;
				}
				col.innerHTML += "<div>" + column_header + "</div>";
			}
			else if(i == 0 && j > 0){
				col.innerHTML += "<div>" + display_stats[j - 1].stat + "</div>";
				if(display_stats[j - 1].display_type == "fraction"){
					insert_index++;
					var pct_col = row.insertCell(insert_index);
					pct_col.innerHTML = "<div>" + display_stats[j - 1].percentage_string + "</div>"; 
				}
			}
			else if (i > 0 && j > 0){

				if(display_stats[j-1].display_type == "fraction"){
					insert_fraction_data(row, col, display_stats[j - 1].display_priority, ++insert_index, player, is_player);
				}
				else if (display_stats[j-1].display_type == "minutes"){
					insert_minutes_data(col, display_stats[j - 1].display_priority, player, is_player);
				}
				else{
					insert_standard_data(col, display_stats[j - 1].display_priority, player, is_player, false)
				}
			}
			insert_index++;
		}
	}



	function find_player_fraction_stat(display_priority, player, is_player){
		var stat_arr = (is_player) ? player.stat_arr : player
		var len = stat_arr.length

		var return_arr = [];
		for(var i = 0; i < len; i++){
			if(stat_arr[i].display_priority == display_priority){
				return_arr.push(stat_arr[i].value);
			}
		}

		return return_arr;
	}

	function find_player_stat(display_priority, player, is_player, is_advanced){
		var stat_arr;
		if(is_player){
			if(is_advanced) stat_arr = player.adv_stat_arr;
			else stat_arr = player.stat_arr;
		}
		// if player is really a team
		else stat_arr = player;
		var len = stat_arr.length
		for(var i = 0; i < len; i++){
			if(stat_arr[i].display_priority == display_priority){
				return (is_advanced) ? stat_arr[i].value : stat_arr[i].value;
			}
		}
	}

	function insert_standard_data(col, display_priority, player, is_player, is_advanced){
		col.innerHTML = find_player_stat(display_priority, player, is_player, is_advanced)
	}

	function insert_minutes_data(col, display_priority, player, is_player){
		var stat = find_player_stat(display_priority, player, is_player);
		var seconds_str;
		var player_minutes = Math.floor(stat / 60)
		var player_seconds = stat - player_minutes * 60;
		(player_seconds < 10) ? seconds_str = "0" + player_seconds.toString() : seconds_str = player_seconds.toString();
		col.innerHTML = player_minutes.toString() + ":" + seconds_str
	}

	function insert_fraction_data(row, col, display_priority, index, player, is_player){
		var pct_col = row.insertCell(index)
		make_miss = find_player_fraction_stat(display_priority, player, is_player);
		makes = parseInt(make_miss[0]);
		misses = parseInt(make_miss[1]);
		numerator = makes;
		denomenator = makes + misses;
		col.innerHTML = numerator + "/" + denomenator;
		pct_col.innerHTML = (denomenator != 0) ? Math.round(numerator / denomenator * 100) + "%" : "0%"  
	}
	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/
	/*************************************************************** </STAT TABLE> ****************************************************************/
	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/












	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/
	/*************************************************************** <SHOT CHARTS> ****************************************************************/
	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/
	var canvas = new fabric.Canvas('gr-canvas',{
        targetFindTolerance: 15,
         perPixelTargetFind: true,
         preserveObjectStacking: true,
    }); 

	var gr_canvas_height = $(document).width()/2.31;
    var gr_canvas_width = $(document).width()/1.645;
    var make_radius = 8;
    var img = new Image();
    var background_img;

    img.onload = function() {
        // this is syncronous
        background_img = new fabric.Image(img);
        background_img.objectCaching = false;
        background_img.scaleToHeight(gr_canvas_height);
        canvas.setBackgroundImage(background_img, canvas.renderAll.bind(canvas), {
            top: 0,
            left: 0
        });
        set_canvas_dimensions();

        canvas.requestRenderAll.bind(canvas);
    };
    img.src = "<%= asset_path('halfcourt.png')%>";

    $(window).resize(function(){
        gr_canvas_height = $(document).width()/2.31;
        gr_canvas_width = $(document).width()/1.645;
        set_canvas_dimensions();
    })

    
    function set_canvas_dimensions(){
        canvas.setHeight(gr_canvas_height);
        canvas.setWidth(gr_canvas_width);
        background_img.scaleToHeight(gr_canvas_height);
        canvas.setBackgroundImage(background_img, canvas.renderAll.bind(canvas), {
            top: 0,
            left: 0
        });
    }

    function populate_shot_chart(){
    	<% @shot_chart_data.each do |shot|%>
    		var metadata = "<%=shot.metadata%>"
    		metadata = metadata.replace(/&quot;/g,'"');
    		metadata = JSON.parse(metadata.replace(/=&gt;/g, ':'));
    		var y_loc = parseInt(metadata.y_loc);
    		var x_loc = parseInt(metadata.x_loc);
    		var shot_val = parseInt(metadata.shot_val);
    		var player_id = "<%=shot.member_id%>";
    		
    		if("<%=shot.stat_list_id%>" == "1" ){
    			make = plot_make(y_loc, x_loc, make_radius, player_id, true, shot_val, null, null, gr_canvas_width, canvas);
    			make.set({evented: false, selectable: false})
    		}
    		else if ("<%=shot.stat_list_id%>" == "2" ){
    			miss = plot_miss([x_loc, y_loc, x_loc , y_loc ], player_id, true, shot_val, null, null, gr_canvas_width, canvas);
    			miss.set({evented: false, selectable: false})
    		}
    	<%end%>
    }

    function shot_chart_button(id, button){
		canvas.getObjects().forEach(function(o){
			if(o.type != "Basket"){	
				o.set({opacity: 1,
				})
			}
		});	

		canvas.getObjects().forEach(function(o){
			if(o.type != "Basket"){
				if(o.id != id || o.player == false){
					o.set({opacity: 0,
					})
				}
			}
		});	
		canvas.renderAll();
	}

    function populate_player_shot_charts(){
		var len = player_stats.length;
		var html_string = "";
		for(var i = 0; i < len; i++){
			html_string += "<button class = 'shot-chart-button' type = 'button' onclick='shot_chart_button(" + player_stats[i].id +", this)'> " + player_stats[i].name + " </button>"
		}
		$("#player-shot-chart-buttons").html(html_string)

		$("#player-shot-chart-buttons").css("grid-template-rows", "repeat( "+ len/2 + ", 81px)"); ;
	}

	function to_team_shot_chart(){
		canvas.getObjects().forEach(function(o){
			if(o.type != "Basket"){	
				o.set({opacity: 1})
			}
		});
		canvas.getObjects().forEach(function(o){
			if(o.type != "Basket"){	
				if(o.player == false ){
					o.set({opacity: 0})
				}
			}
		});	
		canvas.renderAll();
		
	}


	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/
	/*************************************************************** </SHOT CHARTS> ***************************************************************/
	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/



</script>