<script>
	var player_stats_table;
	var team_stats_table;
	var adv_stats_player_table; 
	var adv_stats_team_table; 
	var display_stats = [];
	var display_stats_adv = []
	var display_stats_team_adv = []
	var player_stats = [];
	var team_stat_array = [];
	var team_advanced_stat_array = [];
	var opponent_stat_array = [];


	function initialize_tables(player, team, adv_player, adv_team){
		player_stats_table = player;
		team_stats_table = team;
		adv_stats_player_table = adv_player;
		adv_stats_team_table = adv_team;
	}

	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/
	/*************************************************************** <STAT TABLE> *****************************************************************/
	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/

	function find_header_index(display_priority, arr){
		var len = arr.length
		for(var i = 0; i < len; i++){
			if (parseInt(arr[i].display_priority) == display_priority){
				return i;
			}
		}
	}

	function find_player_stat_index(display_priority, arr){
		var len = arr.length
		for(var i = 0; i < len; i++){
			if (parseInt(arr[i].display_priority) == display_priority){
				return i;
			}
		}
	}

	function rerender_basic_table(table){
		var num_rows = table.rows.length
		for(var i = 1; i < num_rows; i++){
			populate_basic_row(table.rows[i], i, true)
		}
	}

	function rerender_adv_table(table){
		var num_rows = table.rows.length
		for(var i = 1; i < num_rows; i++){
			populate_advanced_row(table.rows[i], i)
		}
	}

	function return_table_by_name(table_name){
		var return_table
		switch(table_name){
		case "player_stats_table" :
			return_table =  player_stats_table;
		case "team_stats_table" :
			return_table =  team_stats_table;
		case "adv_stats_player_table" :
			return_table =  adv_stats_player_table;
		case "adv_stats_team_table" :
			return_table =  adv_stats_team_table;
		}
		return return_table
	}

	function sort_basic_table(display_priority){
		var sort_index = find_player_stat_index(display_priority, player_stats[0].stat_arr)
		player_stats.sort(function(a, b){
			return parseInt(b.stat_arr[sort_index].value) -  parseInt(a.stat_arr[sort_index].value)
		});
		rerender_basic_table(player_stats_table);
	}

	function sort_advanced_table(display_priority){
		var sort_index = find_player_stat_index(display_priority, player_stats[0].adv_stat_arr)
		player_stats.sort(function(a,b){
			return parseInt(b.adv_stat_arr[sort_index].value) -  parseInt(a.adv_stat_arr[sort_index].value)
		})
		rerender_adv_table(adv_stats_player_table);
	}

	function populate_display_stats_basic(){
		<% @stat_table_columns.each do |display_stat| %>
			display_stats.push({"stat": "<%= display_stat[:stat_name] %>", "display_priority": "<%= display_stat[:display_priority] %>", "display_type" : "<%= display_stat[:display_type] %>", "percentage_string":  "<%= display_stat[:percentage_string] %>", "stat_list_id" : "<%= display_stat[:stat_list_id] %>"})
		<% end %>
	}

	function populate_display_stats_adv(){
		<% @adv_stat_table_columns.each do |display_stat| %>
			display_stats_adv.push({"stat": "<%= display_stat[:display_name] %>", "display_priority": "<%= display_stat[:display_priority] %>", "stat_name":  "<%= display_stat[:stat_name] %>", "stat_list_id" : "<%= display_stat[:stat_list_id] %>"})
		<% end %>
	}

	function populate_team_display_stats_adv(){
		<% @team_adv_stat_table_columns.each do |display_stat| %>
			display_stats_team_adv.push({"stat": "<%= display_stat[:display_name] %>", "display_priority": "<%= display_stat[:display_priority] %>", "stat_name":  "<%= display_stat[:stat_name] %>", "stat_list_id" : "<%= display_stat[:stat_list_id] %>", "is_opponent" : "<%= display_stat[:is_opponent] %>"})
		<% end %>
	}

	function populate_stat_array(){
		var i = 0;
		player_id_arr = [];
		<% @player_stats.each do |stat|%>
			var len = player_id_arr.length
			if(player_id_arr[len - 1] !=  "<%= stat.member_id%>"){
				player_id_arr.push("<%= stat.member_id%>");
				var player_obj = {"id" : "<%= stat.member_id%>", "name" : "<%= stat.nickname%>" , "stat_arr" : [], "adv_stat_arr" : []}
				player_stats.push(player_obj);
				i++;
			}
			player_stats[i-1].stat_arr.push({"value": "<%= stat.value%>", "stat_list_id" : "<%= stat.stat_list_id%>", "stat" : "<%= stat.stat%>","display_priority" : "<%= stat.display_priority%>"})
		<%end%>

		var j = 0;

		<% @advanced_stats.each do |stat|%>
			if("<%= stat.member_id%>" != player_stats[j].id){
				j++;
			}
			player_stats[j].adv_stat_arr.push({"value": "<%= stat.value%>","stat_list_id" : "<%= stat.stat_list_id%>" ,"display_priority" : "<%= stat.display_priority%>", "stat" : "<%= stat.stat%>"})
		<%end%>
	}

	function populate_team_stats(){
		<% @team_stats.each do |stat| %>
			team_stat_array.push({"value": "<%= stat.value%>", "stat_list_id" : "<%= stat.stat_list_id%>", "display_priority" : "<%= stat.display_priority%>", "name" : "<%= @team.name %>"})
		<%end %>
	}

	function populate_opponent_stats(){
		<% if @opponent_stats && @opponent%>
			<% @opponent_stats.each do |stat| %>
				opponent_stat_array.push({"value": "<%= stat.value%>", "stat_list_id" : "<%= stat.stat_list_id%>", "display_priority" : "<%= stat.display_priority%>", "name" : "<%= @opponent.name %>"})
			<%end %>
		<% end %>
	}

	function populate_team_advanced_stats(){
		<% @team_advanced_stats.each do |stat| %>
			team_advanced_stat_array.push({"value": "<%= stat.value%>", "stat_list_id" : "<%= stat.stat_list_id%>", "display_priority" : "<%= stat.display_priority%>", "name" : "<%= @team.name %>", "is_opponent" : "<%= stat.is_opponent%>"})
		<%end %>
	}

	function populate_team_stat_tables(opponent){
		populate_basic_team_stat_header(team_stats_table, "team_stats_table");
		populate_team_adv_stat_header(adv_stats_team_table, "adv_stats_team_table");
		var team_row = team_stats_table.insertRow(1);
		if(opponent)var opponent_row = team_stats_table.insertRow(2);
		populate_basic_row(team_row, 1, false, team_stat_array);
		if(opponent) populate_basic_row(opponent_row, 2, false, opponent_stat_array);
		var team_advanced_row = adv_stats_team_table.insertRow(2)
		populate_team_advanced_row(team_advanced_row, 2)
	}

	function populate_player_stat_tables(){
		populate_basic_player_stat_header(player_stats_table, "player_stats_table");	
		populate_adv_stat_header(adv_stats_player_table, "adv_stats_player_table");

		var num_players = player_stats.length
		var i = 1;
		for(i; i < num_players +1; i++){
			var basic_row = player_stats_table.insertRow(i);
			var advanced_row = adv_stats_player_table.insertRow(i)
			populate_basic_row(basic_row, i, true);	
			populate_advanced_row(advanced_row, i);
		}
	}

	function populate_basic_player_stat_header(table, table_name){
		var insert_index = 0;
		var row = table.insertRow(0)
		var num_stats = display_stats.length
		for(i = 0; i < num_stats + 1; i++){
			var col = row.insertCell(insert_index)
			if (i > 0) {
				col.innerHTML += "<button class = 'stat-table-button' onclick='sort_basic_table(" + display_stats[i-1].display_priority + ")'>" + display_stats[i - 1].stat + "</button>";
				if(display_stats[i - 1].display_type == "fraction"){
					insert_index++;
					var pct_col = row.insertCell(insert_index);
					pct_col.innerHTML = "<div>" + display_stats[i - 1].percentage_string + "</div>"; 
				}
			}
			insert_index++;
		}
	}

	function populate_basic_team_stat_header(table, table_name){
		var insert_index = 0;
		var row = table.insertRow(0)
		var num_stats = display_stats.length
		for(i = 0; i < num_stats + 1; i++){
			var col = row.insertCell(insert_index)
			if (i > 0) {
				col.innerHTML += "<div>" + display_stats[i - 1].stat + "</div>";
				if(display_stats[i - 1].display_type == "fraction"){
					insert_index++;
					var pct_col = row.insertCell(insert_index);
					pct_col.innerHTML = "<div>" + display_stats[i - 1].percentage_string + "</div>"; 
				}
			}
			insert_index++;
		}
	}

	function populate_adv_stat_header(table){
		var row = table.insertRow(0)
		var num_stats = display_stats_adv.length
		for(i = 0; i < num_stats + 1; i++){
			var col = row.insertCell(i)
			if (i > 0) {
				col.innerHTML += "<button class = 'stat-table-button' onclick='sort_advanced_table(" + display_stats_adv[i - 1].display_priority +")'>" + display_stats_adv[i - 1].stat + "</button>";
			}
		}
	}

	function populate_team_adv_stat_header(table){
		var meta_row = table.insertRow(0)
		var stat_row = table.insertRow(1)

		var blank_cell = meta_row.insertCell(0)
		var offense_four_factors = meta_row.insertCell(1)
		offense_four_factors.colSpan = "4";
		offense_four_factors.innerHTML = "Offense Four Factors"

		var defense_four_factors = meta_row.insertCell(2)
		defense_four_factors.colSpan = "4";
		defense_four_factors.innerHTML = "Defense Four Factors"

		var other_advanced = meta_row.insertCell(3)
		other_advanced.colSpan = "5";
		other_advanced.innerHTML = "Other Advanced"

		var num_stats = display_stats_team_adv.length
		for(i = 0; i < num_stats + 1; i++){
			var col = stat_row.insertCell(i)
			if (i > 0) {
				col.innerHTML += "<div>" + display_stats_team_adv[i - 1].stat + "</div>";
			}
		}
	}

	function insert_team_adv_data(col, display_stat){
		var len = team_advanced_stat_array.length
		for(var i = 0; i < len; i++){
			if (display_stat.stat_list_id == team_advanced_stat_array[i].stat_list_id)
				if(display_stat.is_opponent == team_advanced_stat_array[i].is_opponent)
					col.innerHTML = team_advanced_stat_array[i].value
		}
	}

	function populate_team_advanced_row(row, i){
		var num_stats = display_stats_team_adv.length
		for(j = 0 ;j < num_stats + 1; j++){
			var col = row.insertCell(j);
			if (j == 0 && i > 0){
				column_header = "<%= @team.name %>";
				col.innerHTML += "<div>" + column_header + "</div>";
			}
			else if (i > 0 && j > 0){
				insert_team_adv_data(col, display_stats_team_adv[j - 1])
			}
		}
	}

	function populate_advanced_row(row, i){
		var num_stats = display_stats_adv.length
		var player = player_stats[i-1];
		for(j = 0 ;j < num_stats + 1; j++){
			if(row.cells.length <= j){
				var col = row.insertCell(j);
			}
			else var col = row.cells[j];
			if (j == 0 && i > 0){
				col.innerHTML = "<div>" + player_stats[i-1].name + "</div>";
			}
			else if (i > 0 && j > 0){
				insert_standard_data(col, display_stats_adv[j - 1].display_priority, player, true, true)
			}
		}
	}

	function populate_basic_row(row, i, is_player, team){
		var insert_index = 0;
		var num_stats = display_stats.length
		var player = (is_player) ? player_stats[i-1] : team;

		for(j = 0 ;j < num_stats + 1; j++){
			if(row.cells.length <= insert_index){
				var col = row.insertCell(insert_index);
			}
			else 
				var col = row.cells[insert_index];

			if (j == 0 && i > 0){
				if(is_player){
					column_header = player_stats[i-1].name;
				}else{
					column_header = team[0].name;
				}
				col.innerHTML = "<div>" + column_header + "</div>";
			}
			else if (i > 0 && j > 0){
				if(display_stats[j-1].display_type == "fraction"){
					insert_fraction_data(row, col, display_stats[j - 1].display_priority, ++insert_index, player, is_player);
				}
				else if (display_stats[j-1].display_type == "minutes"){
					insert_minutes_data(col, display_stats[j - 1].display_priority, player, is_player);
				}
				else{
					insert_standard_data(col, display_stats[j - 1].display_priority, player, is_player, false)
				}
			}
			insert_index++;
		}
	}


	function find_player_stat(display_priority, player, is_player, is_advanced){
		var stat_arr;
		if(is_player){
			if(is_advanced) stat_arr = player.adv_stat_arr;
			else stat_arr = player.stat_arr;
		}
		// if player is really a team
		else stat_arr = player;
		var len = stat_arr.length
		for(var i = 0; i < len; i++){
			if(stat_arr[i].display_priority == display_priority){
				return (is_advanced) ? stat_arr[i].value : stat_arr[i].value;
			}
		}
	}

	function insert_standard_data(col, display_priority, player, is_player, is_advanced){
		col.innerHTML = find_player_stat(display_priority, player, is_player, is_advanced)
	}

	function insert_minutes_data(col, display_priority, player, is_player){
		var stat = find_player_stat(display_priority, player, is_player);
		var seconds_str;
		var player_minutes = Math.floor(stat / 60)
		var player_seconds = stat - player_minutes * 60;
		(player_seconds < 10) ? seconds_str = "0" + player_seconds.toString() : seconds_str = player_seconds.toString();
		col.innerHTML = player_minutes.toString() + ":" + seconds_str
	}

	function find_player_fraction_stat(display_priority, player, is_player){
		var stat_arr = (is_player) ? player.stat_arr : player
		var len = stat_arr.length
		var makes = 0;
		var misses = 0;
		var return_arr = [];
		for(var i = 0; i < len; i++){
			if(stat_arr[i].display_priority == display_priority){
				//misses all have odd stat_list_ids, makes all have even stat_lsit_ids
				if (parseInt(stat_arr[i].stat_list_id) % 2 == 0){
					misses = stat_arr[i].value
				}
				else 
					makes = stat_arr[i].value
			}
		}
		return_arr.push(makes);
		return_arr.push(misses)

		return return_arr;
	}

	function insert_fraction_data(row, col, display_priority, index, player, is_player){
		if (row.cells.length <= index){
			var pct_col = row.insertCell(index)
		}
		else var pct_col = row.cells[index];
		make_miss = find_player_fraction_stat(display_priority, player, is_player);
		makes = parseInt(make_miss[0]);
		misses = parseInt(make_miss[1]);
		numerator = makes;
		denomenator = makes + misses;
		col.innerHTML = numerator + "/" + denomenator;
		pct_col.innerHTML = (denomenator != 0) ? Math.round(numerator / denomenator * 100) + "%" : "0%"  
	}



	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/
	/*************************************************************** </STAT TABLE> ****************************************************************/
	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/












	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/
	/*************************************************************** <SHOT CHARTS> ****************************************************************/
	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/
	var canvas = new fabric.Canvas('gr-canvas',{
        targetFindTolerance: 15,
         perPixelTargetFind: true,
         preserveObjectStacking: true,
    }); 

	var gr_canvas_height = $(document).width()/2.31;
    var gr_canvas_width = $(document).width()/1.645;
    var make_radius = 8;
    var img = new Image();
    var background_img;

    img.onload = function() {
        // this is syncronous
        background_img = new fabric.Image(img);
        background_img.objectCaching = false;
        background_img.scaleToHeight(gr_canvas_height);
        canvas.setBackgroundImage(background_img, canvas.renderAll.bind(canvas), {
            top: 0,
            left: 0
        });
        set_canvas_dimensions();

        canvas.requestRenderAll.bind(canvas);
    };
    img.src = "<%= asset_path('halfcourt.png')%>";

    $(window).resize(function(){
        gr_canvas_height = $(document).width()/2.31;
        gr_canvas_width = $(document).width()/1.645;
        set_canvas_dimensions();
    })

    
    function set_canvas_dimensions(){
        canvas.setHeight(gr_canvas_height);
        canvas.setWidth(gr_canvas_width);
        background_img.scaleToHeight(gr_canvas_height);
        canvas.setBackgroundImage(background_img, canvas.renderAll.bind(canvas), {
            top: 0,
            left: 0
        });
    }

    function populate_shot_chart(){
    	<% @shot_chart_data.each do |shot|%>
    		var metadata = "<%=shot.metadata%>"
    		metadata = metadata.replace(/&quot;/g,'"');
    		metadata = JSON.parse(metadata.replace(/=&gt;/g, ':'));
    		var y_loc = parseInt(metadata.y_loc);
    		var x_loc = parseInt(metadata.x_loc);
    		var shot_val = parseInt(metadata.shot_val);
    		var player_id = "<%=shot.member_id%>";
    		
    		if("<%=shot.stat_list_id%>" == "1" ){
    			make = plot_make(y_loc, x_loc, make_radius, player_id, true, shot_val, null, null, gr_canvas_width, canvas);
    			make.set({evented: false, selectable: false})
    		}
    		else if ("<%=shot.stat_list_id%>" == "2" ){
    			miss = plot_miss([x_loc, y_loc, x_loc , y_loc ], player_id, true, shot_val, null, null, gr_canvas_width, canvas);
    			miss.set({evented: false, selectable: false})
    		}
    	<%end%>
    }

    function shot_chart_button(id, button){
		canvas.getObjects().forEach(function(o){
			if(o.type != "Basket"){	
				o.set({opacity: 1,
				})
			}
		});	

		canvas.getObjects().forEach(function(o){
			if(o.type != "Basket"){
				if(o.id != id || o.player == false){
					o.set({opacity: 0,
					})
				}
			}
		});	
		canvas.renderAll();
	}

    function populate_player_shot_charts(){
		var len = player_stats.length;
		var html_string = "";
		for(var i = 0; i < len; i++){
			html_string += "<button class = 'shot-chart-button' type = 'button' onclick='shot_chart_button(" + player_stats[i].id +", this)'> " + player_stats[i].name + " </button>"
		}
		$("#player-shot-chart-buttons").html(html_string)

		$("#player-shot-chart-buttons").css("grid-template-rows", "repeat( "+ len/2 + ", 81px)"); ;
	}

	function to_team_shot_chart(){
		canvas.getObjects().forEach(function(o){
			if(o.type != "Basket"){	
				o.set({opacity: 1})
			}
		});
		canvas.getObjects().forEach(function(o){
			if(o.type != "Basket"){	
				if(o.player == false ){
					o.set({opacity: 0})
				}
			}
		});	
		canvas.renderAll();
		
	}


	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/
	/*************************************************************** </SHOT CHARTS> ***************************************************************/
	/**********************************************************************************************************************************************/
	/**********************************************************************************************************************************************/



</script>