<div id = "game-mode-grid">
	<div id = "scoreboard-wrapper">
		<div id = "scoreboard">
			<div id = "score-status">
				<div id = "home-scoreboard" class = "squad-scoreboard">
					<div class = "team-name"><%= @team.name%></div>
					<div id = "home-score" class = "squad-score"> 0 </div>
				</div>
				<button id = "time" onclick = "toggleClock()">
					<div id = "period">Q1</div>
					<div class = "dash">
						<svg style = "height: 1px; width: 20px;" class = "time-dash">
					      <line x1="0" y1="0" x2="20" y2="1" style="stroke:#3E3E3E;stroke-width:2"/>
					    </svg>
					</div>
					<div id = "timer"></div>
				</button>
				<div id = "opponent-scoreboard" class = "squad-scoreboard">
					<div class = "team-name"> <%= @opponent.name%></div>
					<div id = "opponent-score" class = "squad-score"> 0 </div>
				</div>
			</div>
		</div>
	</div>
	<div id = "top-grid">
		<div id = "gm-toolbar">
			<div id = "players_w_stats">
				<div id = "tb-first-level" class = "flex-horiz tb-container">
					<div id = "player-buttons" class = "tb-elem">
						<div class = "in-game">
							<div id = "players-in-game-label" class = "in-game-label">In Game</div>
							<div class = "in-game-players"></div>
						</div>
						<div id = "player-shot-chart-toggle">
							<input id = "player-charts-button" type="checkbox" name="player-shot-charts" value="false"> Show Player Shot Charts
						</div>
						<div id = "oppenent-label" class = "in-game-label">Opponent</div>
						<div id = "opponent"></div>
						<!--<button id = "voice-rec" onclick = "voice_rec_toggle()"><%= image_tag("microphone.png", :alt => "voice-recognition", :class => "microphone-icon") %></button> -->
					</div>
					<div id = "stat-buttons" class = "flex-margin-auto tb-elem">
						<% counter = 0 %>
						<% @collection_stats.each do |stat|%>
								<button class = "stat-button stat-button-<%=stat[:id]%>" id = "stat-button-<%=counter%>" type = "button" onclick = "stat_button('<%= stat[:id] %>', this)"> <%= stat[:display_name] %> </button>
						<%counter+=1%>
						<% end %>
					</div>
				</div>
				<div id = "tb-second-level" class = "flex-horiz tb-container">
					<div id = "bench">
						<div id = "bench-label" class = "in-game-label">Bench</div>
						<div id = "bench-players"></div>
					</div>

				</div>
			</div>
			<div id = "tb-third-level" class = "tb-container flex-vert">
				<button class = "gm-submit" type = "button" onclick = "submit_game_mode_button()"> SUBMIT </button>
			</div>
		</div>
		<div id = "gm-middle">
			<div class = "stat-added-alert">
				<div id = "stat-added-player-name" class = "stat-added-alert-elem"></div>
				<div id = "stat-added-name" class = "stat-added-alert-elem"></div>
				<div id = "stat-added-username"></div>
				<div id = "stat-added-undo"></div>
			</div>
			<div id = "canvas-wrapper">
				<canvas id ="c" class = "show-canvas gm-canvas"></canvas>
				<div id = "canvas-label"><%= @team.name%></div>
			</div>
			<div id = "gm-stat-tables" style = "display: none;">
				<table class = "gm-stats-table" id = "player-stats-table">
				</table>
				<div id = "gm-table-buttons">
					<button class = "gm-table-button active-table" onclick = "toggle_table(0, this)">Team Totals</button>
					<button class = "gm-table-button inactive-table-label" onclick = "toggle_table(1, this)">First Half</button>
					<button class = "gm-table-button inactive-table-label" onclick = "toggle_table(2, this)">Second Half</button>
					<button class = "gm-table-button inactive-table-label" onclick = "toggle_table(3, this)">Q1</button>
					<button class = "gm-table-button inactive-table-label" onclick = "toggle_table(4, this)">Q2</button>
					<button class = "gm-table-button inactive-table-label" onclick = "toggle_table(5, this)">Q3</button>
					<button class = "gm-table-button inactive-table-label" onclick = "toggle_table(6, this)">Q4</button>
				</div>
				<table class = "gm-stats-table" id = "team-stats-table">	
				</table>
				<table class = "gm-stats-table" id = "half-1-table" style = "display: none;">	
				</table>
				<table class = "gm-stats-table" id = "half-2-table" style = "display: none;">	
				</table>
				<table class = "gm-stats-table" id = "quarter-1-table" style = "display: none;">	
				</table>
				<table class = "gm-stats-table" id = "quarter-2-table" style = "display: none;">	
				</table>
				<table class = "gm-stats-table" id = "quarter-3-table" style = "display: none;">	
				</table>
				<table class = "gm-stats-table" id = "quarter-4-table" style = "display: none;">	
				</table>

			</div>
			<div id = "gm-log-wrapper" style = "display: none;">
				<table class = "gm-log" id = "gm-log">
					<tr class = "gm-log-header">
						<th>Player</th>
						<th>Stat</th>
						<th>Timestamp</th>
						<th>Edit</th>
					</tr>
				</table>
			</div>
			<div id = "gm-toggle-wrapper">
				<div id = "gm-toggle-buttons">
					<button class ="gm-toggle-button" onclick = "to_stat_tables()">Show Stats</button>
					<button class ="gm-toggle-button" onclick = "to_shot_chart()">Show Shot Chart</button>
					<button class ="gm-toggle-button" onclick = "to_log()">Show Game Log</button>
				</div>
			</div>
		</div>
		
	</div>	
</div>

<%=render 'games/game_mode/game_mode_modals'%>

<%= content_tag :div, class: "game-mode-id", data: {game_id: @game_id} do %>
<% end %>


<%= render 'game_mode_channel_js' %>

<script>
	var fg_index = 1;
	var two_pt_fg_index = 3;
	var three_pt_fg_index = 3;
	var ft_index = 5;
	var ft_pct_index = 6;
	var game_mode_state;


	var curr_player = null; 
	var curr_player_button = null;
	var curr_stat = null;
	var curr_stat_button = null;
	var curr_player_is_opponent = false;
	var on_game_page = false;

	var player_stats_table = document.getElementById("player-stats-table");
	var team_stats_table = document.getElementById("team-stats-table");
	var first_half_table = document.getElementById("half-1-table");
	var second_half_table = document.getElementById("half-2-table");
	var first_quarter_table = document.getElementById("quarter-1-table");
	var second_quarter_table = document.getElementById("quarter-2-table");
	var third_quarter_table = document.getElementById("quarter-3-table");
	var fourth_quarter_table = document.getElementById("quarter-4-table");

	var game_log = document.getElementById("gm-log");
	var make_radius = 7;

	var make_selected = false
	var miss_selected = false;
	var horiz_offset;
	var vert_offset;

	var submitted = false;
// TODO - set in initializer
	var arc_vert_radius;
	var arc_horiz_radius; 

	var canvas;
	var gm_canvas_width;
	var gm_canvas_height;
	var minutes;
	var seconds;

	var basket_x;
	var basket_y;

	// TODO - set in initializer
	var basket_radius; 

	var player_is_selected = false;

	var stat_array = [];
	var stat_array_counter = 0;
	var display_stats = [];

	var all_stat_granules = [];

	var all_players = [];
	var active_players = [];

	var players_in_game = 0;

	var curr_lineup;
	var lineups_arr = [];


	var home_score = 0;
	var opponent_score = 0;

	var opponent_obj;

	var team_stat_totals = [];

	var quarter_1_totals = [];
	var quarter_2_totals = [];
	var quarter_3_totals = [];
	var quarter_4_totals = [];

	var half_1_totals = [];
	var half_2_totals = [];


	var player_charts_toggle = false;

	var periods = 4;
	var curr_period = 1;

	var minutes_per_period = <%=@per_minutes%>;


	var minutes_index;
	var points_index;

	var total_minutes = 0;

	var select_inactives_html = "";

	var scoreboard_clock = new ScoreboardClock();

	var game_mode_initialized = false;

	var collectable_stats = [];
	var canvas_vars;
	var curr_aspect_ratio = 0;
	var update_canvas = false;
	var height_log_tables;
	var scoreboard_height;

	var game_state;


	


	
</script>