<div id = "game-mode-grid">
	<div id = "top-grid">
		<div id = "gm-tool-bar">
			<div id = "stat-buttons">
				<% @collection_stats.each do |stat|%>
						<button class = "stat-button" type = "button" onclick = "stat_button('<%= stat[:id] %>', this)"> <%= stat[:display_name] %> </button>
				<% end %>
			</div>
			<div id = "player-buttons">
				<div id = "in-game">
					<div id = "in-game-label">In Game</div>
					<div id = "in-game-players"></div>
				</div>
				<div id = "bench">
					<div id = "bench-label">Bench</div>
					<div id = "bench-players"></div>
				</div>
				<div id = "oppenent-label">Opponent</div>
				<div id = "opponent">
				</div>
				<button class = "submit" type = "button" onclick = "submit_game_mode()"> SUBMIT </button>
			</div>
		</div>
		<div id = "middle-column">
			<div id = "scoreboard">
				<div id = "score-status">
					<div id = "home-scoreboard" class = "squad-scoreboard">
						<div class = "team-name"><%= @team.name%></div>
						<div id = "home-score" class = "squad-score"> 0 </div>
					</div>
					<div id = "opponent-scoreboard" class = "squad-scoreboard">
						<div class = "team-name"> <%= @opponent.name%></div>
						<div id = "opponent-score" class = "squad-score"> 0 </div>
					</div>
				</div>
				<div id = "time">
					<div id = "period">1Q</div>
					<div class = "dash">
						<svg style = "height: 1px; width: 20px;" class = "time-dash">
					      <line x1="0" y1="0" x2="20" y2="1" style="stroke:#3E3E3E;stroke-width:2"/>
					    </svg>
					</div>
					<div id = "timer"></div>
				</div>
			</div>
			<canvas id ="c" class = "show-canvas gm-canvas"></canvas>
		</div>
		<div id = "shot-chart-buttons">
			<div id = "shot-chart-header">Individual Shot Charts</div>
			<div id = "player-shot-chart-buttons">
				
			</div> 
			<div id = "team-shot-charts">
				<button class = "team-shot-chart" type = "button" onclick="to_opponent_shot_chart()"> <%= @opponent.name %> Shot Chart</button>
				<button class = "team-shot-chart" type = "button" onclick="to_team_shot_chart()">Team Shot Chart</button>
			</div>
		</div>
	</div>	
	<div id = "bottom-grid">
		<!-- 
		<div id = "game-mode-submit">
			<button class = "game-mode-submit" type = "button" onclick = "submit_game_mode()">Submit</button>
		</div>
		-->
		<table class = "stats-table" id = "player-stats-table">
				
		</table>
		<table class = "stats-table" id = "team-stats-table">
				
		</table>
	</div>	
</div>

<div class = "modal-overlay"></div>
<div class = "GM-modal modal-overlay">
	<div id = "GM-initializer">
		<div id = "GM-init-header" class = "GM-init">Welcome to Game Mode!</div>
		<div id = "GM-init-body" class = "GM-init">
			<div id = "personel-selection-header">Select Inactives</div>
			<div id = "personel-selection-body">

			</div>
		</div>
		<div id = "GM-init-footer" class = "GM-init">Next</div>
	</div>
</div>

<%= render 'canvas_js' %>
<%= render 'game_mode_js' %>
<%= render 'game_mode_js_objects' %>
<script>
	$(".navbar").hide()
	canvas_vars = initialize_canvas(0.62, 0.7, 'c', 3)
	initialize_globals(canvas_vars.canvas, canvas_vars.canvas_width, canvas_vars.canvas_height)
	populate_players();
	populate_inactive_selection(false);
	plotBasket(canvas_vars.canvas_width/1.978, canvas_vars.canvas_height/11.5, 14, canvas_vars.canvas_width, canvas_vars.canvas);


	canvas_vars.canvas.on('object:moving', function (e) {
		var obj = e.target
        var type = obj.get('type');
        var point = canvas_vars.canvas.getPointer(e);
        if(type == "MakeSymbol"){
        	move_make(obj, point)
        }
        else if (type == "MissSymbol"){
         move_miss(obj, point);
        }
    });

    $(".show-canvas").on("click", function(e) {
		if(make_selected && curr_player != null){
			make(e);
		}
		else if (miss_selected && curr_player != null){
			miss(e);
		}
	}); 	

    $(window).resize(function(){
        canvas_vars.canvas.getObjects().forEach(function(o){
        	switch(o.type){
        		case "MakeSymbol" :
	        		old_canvas_width = o.canvas_width;
	        		change_ratio = old_canvas_width/canvas_vars.canvas.width;

	        		o.set({left: o.left/ change_ratio, top: o.top / change_ratio, canvas_width: canvas_vars.canvas.width});
	        		o.setCoords();
	        		canvas.calcOffset();
	  				canvas.renderAll();
        		break;
        		case "Basket" :
        			old_canvas_width = o.canvas_width;
	        		change_ratio = old_canvas_width/canvas_vars.canvas.width;
	        		basket_radius = o.radius /change_ratio

	        		o.set({left: o.left/ change_ratio, top: o.top / change_ratio, canvas_width: canvas_vars.canvas.width, radius: basket_radius});
	        		o.setCoords();
	        		canvas.calcOffset();
	  				canvas.renderAll();
	  			break;
        		case "MissSymbol" :
        			old_canvas_width = o.canvas_width;
	        		change_ratio = old_canvas_width/canvas_vars.canvas.width;
	        		o.set({x1: o.x1 / change_ratio, y1: o.y1 / change_ratio, x2: o.x2 / change_ratio, y2: o.y2 / change_ratio, canvas_width: canvas_vars.canvas.width});
	        		o.setCoords();
	        		canvas.calcOffset();
	        		canvas.renderAll();
        		break
        	}
    	})
    })

	
</script>