
<div id='calendar'></div>


<div class = "modal-overlay" style= "display: none;"></div>
<div class = "overlay-content modal-overlay" style= "display: none;">
	<div class = "new-game-box" id = "new-game-box" style= "display: none;">
		<div class = "new-game-header">
			<button class = "close-button" onclick="hide_new_game_form()">x</button>
			<div id = "new-play-header-text">New Game</div>
		</div>
			<div class = "new-game-form">
				<div class="form-group">
					<label for="new-game-opponent">Opponent?</label>
					<input type="text" name="opponent" id = "new-game-opponent" >
				</div>
				<div class="form-group">
					<label for="new-game-location">Location?</label>
					<input type="text" name="location" id = "new-game-location" >
				</div>
				<div class="form-group">
					<label for="new-game-date">Date of game:</label>
					<input type="date" name="date" id = "new-game-date">
				</div>
				<div class="form-group">
					<label for="new-game-time">Time of game:</label>
					<input type="time" name="time" id = "new-game-time">
				</div>
				<button onclick = "newGame()" class="btn btn-primary">Submit</button>
			</div>
	</div>
	<div class = "new-game-box" id = "practice-box" style= "display: none;">
		<div class = "new-game-header">
			<button class = "close-button" onclick="hide_practice_mode()">x</button>
			<div id = "practice-mode-header">Is it a practice or a scrimmage?</div>
			<div id = "practice-mode-subheader">(a scrimmage is against another team)</div>
			<div id = "practice-mode-buttons">
				<%=link_to practice_mode_path(@team_id) do %>
					<button id = "confirm-submit" class = "confirm-buttons">Practice Mode</button>
				<%end%>
				<%=link_to scrimmage_mode_path(@team_id) do %>
					<button id = "confirm-submit" class = "confirm-buttons">Scrimmage Mode</button>
				<%end%>
			</div>
		</div>
	</div>
</div>



<script>

	$(".navbar").addClass("navbar-active");
    $(".navbar-default a").addClass("navbar-text-active");
    $(".home-link").css("border-color", "black");

    $(window).on("scroll", function() {
        $(".navbar").addClass("navbar-active");
        $(".navbar-default a").addClass("navbar-text-active");
        $(".home-link").css("border-color", "black")

	});

	var new_game_data = []

	function newGame(){
		var opponent = document.getElementById('new-game-opponent').value
		var location = document.getElementById('new-game-location').value
		var date = document.getElementById('new-game-date').value
		var time = document.getElementById('new-game-time').value

		var url =  "/teams/" + <%= @team_id %> + "/games/" 
		$.ajax({
	        url: url,
	        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	        type: "POST",
	        data_type: 'json',
	        data: {opponent: opponent, date: date, time: time, location: location}
	    });
	}

	function practice_mode(){
		$(".modal-overlay").show()
		$(".overlay-content").show()
		$("#practice-box").show()
	}

	function hide_practice_mode(){
		$(".modal-overlay").hide()
		$(".overlay-content").hide()
		$("#practice-box").hide()
	}

	function hide_new_game_form(){
		$(".modal-overlay").hide()
		$(".overlay-content").hide()
		$("#new-game-box").hide()
	}

	function parseTime(str){
		var substring = str.substr(str.indexOf(' ')+1); // "tocirah sneab"
		var military_time = substring.substr(0,substring.indexOf(' '));
		var length = military_time.length;
		var seconds_stripped = military_time.substr(0,length - 3);
		var military_hours = seconds_stripped.substr(0,seconds_stripped.indexOf(":"))
		var minutes = seconds_stripped.substr(seconds_stripped.indexOf(":")+1)
		var hours = military_hours % 12;
		var suffix = (military_hours > 12) ? " PM" : " AM";
		return hours + ":" + minutes + suffix
	}

        var calendarEl = document.getElementById('calendar');
        var event_arr = []

       

        <% @game_events.each do |event|%>
        		var time = parseTime("<%=event.time%>")
        		event_arr.push({id : '<%=event.id%>', title: "Game vs <%=event.name%> @ <%=event.place%>, " + time , start: "<%=event.date%>", game_id: "<%=event.game_id%>"})
        <%end%>

        <%@practice_events.each do |event|%>
        	console.log("practice event")
        	if(<%=event.is_scrimmage%>){
        		event_arr.push({id : '<%=event.id%>', title: "Scrimmage", start: "<%=event.date%>", practice_id: "<%=event.practice_id%>"})
        	}
        	else{
        		event_arr.push({id : '<%=event.id%>', title: "Practice", start: "<%=event.date%>", practice_id: "<%=event.practice_id%>"})
        	}
        <%end%>

        <%@schedule_events.each do |e|%>
        	console.log(<%=e.id%>)
        <%end%>



        var calendar = new FullCalendar.Calendar(calendarEl, {
	        plugins: [ 'interaction', 'dayGrid' ],
			defaultView: 'dayGridMonth',
			aspectRatio : 2,
			selectable: true,
			dateClick: function(info) {
			    
			},
			customButtons: {
			    newGame: {
			      text: 'Create New Game',
			      click: function() {
			        $(".modal-overlay").show()
					$(".overlay-content").show()
					$("#new-game-box").show()
			      }
			    },
			    practiceMode: {
			      text: "Practice Mode",
			      click: function() {
			        practice_mode()
			      }
			    }
			},
			header: {
			    left: 'title',
			    center: 'newGame, practiceMode',
			    right: 'today prev,next'
			},
			events: event_arr,
		    eventRender: function(info) {
		    	if(info.event.title == "Practice" || info.event.title == "Scrimmage"){
		    		return $('<a href="/teams/' + <%= @team_id%> + '/practices/'+ info.event.extendedProps.practice_id +'">' +info.event.title + '</a>');
		    	}
		    	else if (info.event.id != "new"){
		    		return $('<a href="/teams/' + <%= @team_id%> + '/games/'+ info.event.extendedProps.game_id +'">' +info.event.title + '</a>');
		    	}
			  }
        });
        var evento = calendar.getEventById("new")

        calendar.render();

</script>