<div id = "progression-block">
	<div id = "progression-img">
		<%= link_to play_progression_path(@play.id, progression.id), :class => "progression-link" do %>
			<%= image_tag("example-progression.png", :alt => "progression", :class => "progression-img") %>
		<%end%>
		
		
		<%= link_to play_progression_path(@play.id, progression.id), :class => "progression-link" do %>
			<div class = "show-link-block">
				<div class = "progression-link-text">Show</div>
			</div>
		<%end%>
		
		
		<%= link_to edit_play_progression_path(@play.id, progression.id), :class => "progression-link" do %>
			<div class = "edit-link-block">
				<div class = "progression-link-text">Edit</div>
			</div>	
		<% end %>
	</div>
	<div id = "progression-actions">
		<%= link_to play_progression_path(@play.id, progression.id), method: :delete  do %>
			<div class = "delete-progression"> 
				<%= image_tag("X-thick.png", :alt => "delete", :id => "X-sign") %>
				<div id = "delete-text">Delete progression</div>
			</div>
		<% end %> 
		<%= link_to({:controller => "progressions", :action => "new", :play_id => @play.id, progression_index: progression.index}) do %> 
			<div class = "next-progression"> 
				<%= image_tag("plus-thick.png", :alt => "delete", :id => "plus-sign") %>
				<div id = "next-text">Insert progression</div>
			</div>
		<%end %>
	</div>
	<div id = "progression-title">Progression <%= progression.index %></div>
</div>


<script>
	$(".next-progression")
	.mouseover(function(){
		$(this).children("#plus-sign").attr('style', "opacity: .9");
		$(this).children("#plus-sign").attr('src', '<%= image_path("plus-dark.png") %>');
		$(this).children("#next-text").attr('style', "opacity: 1");
	})
	.mouseout(function(){
		$(this).children("#plus-sign").attr('style', "opacity: .9");
		$(this).children("#plus-sign").attr('src', '<%= image_path("plus-thick.png") %>');	
		$(this).children("#next-text").attr('style', "opacity: 0;");
	});

	$(".delete-progression")
	.mouseover(function(){
		$(this).children("#X-sign").attr('src', '<%= image_path("X-dark.png") %>');
		$(this).children("#delete-text").attr('style', "opacity: 1");
	})
	.mouseout(function(){
		$(this).children("#X-sign").attr('src', '<%= image_path("X-thick.png") %>');
		$(this).children("#delete-text").attr('style', "opacity: 0;");
	});

</script>
