<div id = "new-header"> <%= @play.name %> - <%= @progression_index %></div>
<div id = "tactical-grid">
    <div id = "tool-bar">
        <div id = "drawing-buttons">
          <button id = "run" class = "drawing-button" type = "button" onclick="lineToRun(event)">
            <div class = "drawing-button-name">RUN</div>
            <div class = "drawing-button-arrow">
              <div class="line"></div>
              <div class="triangle-point"></div>
            </div>
          </button>
          
          <button id = "pass" class = "drawing-button" type = "button" onclick="lineToPass(event)">
            <div class = "drawing-button-name">PASS</div>
            <div class = "drawing-button-arrow">
              <div class="dotted-line"></div>
              <div class="triangle-point"></div>
            </div>
          </button>
          
          <button id = "drive" class = "drawing-button" type = "button" onclick="lineToDribble(event)">
            <div class = "drawing-button-name">DRIBBLE</div>
            <div class = "drawing-button-arrow">
              <div class="zigzag"></div>
              <div class="triangle-point"></div>
            </div>
          </button>
          
          <button id = "screen" class = "drawing-button" type = "button" onclick="lineToScreen(event)">
            <div class = "drawing-button-name">SCREEN</div>
            <div class = "drawing-button-arrow">
               <div class="line"></div>
               <div class="vert-line"></div>
            </div>
          </button>          
        </div>
        <div id = "save-block">
          <button id = "save-button" type ="button" onclick="save_progression()"> SAVE AND FINISH </button>
          <button id = "save-button" type ="button" onclick="save_and_next_progression()"> NEXT PROGRESSION</button>
        </div>
    </div>
    <canvas id ="c"></canvas>
</div>


<%= render 'canvas_js' %>
<%= render 'js_objects' %>
<%= render 'javascript' %>

<script>
  $( document ).ready(function() {
        if("<%= @prev_json_diagram %>"){
          var json_data = "<%= @prev_json_diagram %>".replace(/&quot;/g,'"');
          canvas.loadFromJSON(json_data, function() {
            canvas.requestRenderAll.bind(canvas);
          });
          canvas.on('object:added', function(e) {
            var object = e.target;
            object.added = true;
          });
        }
        else{
          background_to_halfcourt();
          add_players();
        }  
  });

  canvas.on('object:moving', function (e) {
            var obj = e.target;
            if(obj.get("anchorable") == true && obj.added == true){
              anchorPositioning(e);
            }

    });

</script>