<!-- <div class = "stats-index-content-wrapper stats-index-deactivated " id = "player-profile-index">
	<div class = "stats-index-header grid" id = "player-profile-index-header">
		<button class = "center-aligned shot-chart-button" id = "player-profile-toggle-button" onclick = "player_profile_dropdown()" style = "width: 125px;">
			<div class = "sort-button-text" id = "player-profile-current"></div>
			<object data='<%=asset_path("down-arrow.svg")%>' type="image/svg+xml" class = "sort-img">
                  <%= image_tag("down-arrow.png", :alt => "sort", :class => "sort-img") %>	
             </object>
		</button>
		<div class = "toolbar-dropdown" id = "player-profile-dropdown" style = "display: none;">
			<%@players.each do |player|%>
				<button class="flex-row toolbar-dropdown-button" onclick = "player_profile_hash(<%=player.member_id%>)"><div class="dropdown-action lineup-dropdown-action" ><%=player.nickname%></div></button>
			<%end%>
		</div>
	</div>
	<div class = "player-profile-wrapper stats-index-page-wrapper">
		<div class = "flex-row player-percentage-circles center-justified player-profile-border-bottom player-profile-border-right" style = '    flex-wrap: wrap;'>
			<div class = "flex-column center-justified  percentage-circle-wrapper">
				<div class = "percentage-circle-header">FG%</div>
				<div class = "fg-percentage-circle percentage-circle player-percentage-circle" id = "player-fg-percentage-circle"></div>
			</div>
			<div class = "flex-column center-justified percentage-circle-wrapper">
				<div class = "percentage-circle-header">FT% </div>
				<div class = "ft-percentage-circle percentage-circle player-percentage-circle" id = "player-ft-percentage-circle"></div>
			</div>
			<div class = "flex-column center-justified percentage-circle-wrapper">
				<div class = "percentage-circle-header">3PT%</div>
				<div class = "three-pt-percentage-circle percentage-circle player-percentage-circle" id = "player-three-pt-percentage-circle"></div>
			</div>
		</div>
		<div class = "player-game-log flex-row center-justified player-profile-border-bottom">
			<div class = "player-game-log-wrapper flex-row center-aligned">
				<div class = "player-game-log-container">
					<table class = "player-game-log-table">
						<thead>
							<tr class = "player-game-log-header">
							
							</tr>
						</thead>
						<tbody class = "player-game-log-body">
						</tbody>
						<tfoot>
							<tr class = "game-log-per-game">
							
							</tr>
							<tr class = "game-log-per-minute">
							
							</tr>
							<tr class = "game-log-totals">
							
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
		<div class = "player-shot-chart flex-row center-aligned center-justified player-profile-border-right" style = "padding-top: 20px">
			
		</div>
		<div class = "player-advanced-stats grid">
			<div class = "flex-row center-justified center-aligned">
				<%=image_tag("color-scale.png", class: "color-scale")%>
			</div>
		</div>
	</div>
</div>
 -->



