 <% content_for(:body_attributes) do %>
    data-turbolinks="false"
  <% end %>

<%if @num_games > 0 %>
	<div id = "stats-landing" class = "page-landing">
		<%= image_tag("stats-wallpaper.jpg", :alt => "stats", :class => "landing-img") %>
		<div class = "content-page-landing-title">Stats</div>
	</div>


	<div class = "stat-page-header">Player Stats</div>
	<div id = "table-toggle-buttons">
		<button id = "per-game-stats-button" class = "table-toggle-button" onclick="toggle_player_table(1, this)">Per Game Stats</button>
		<button id = "per-minute-stats-button" class = "table-toggle-button" onclick="toggle_player_table(3, this)">Per <%=@per_minutes%> Minutes Stats</button>
		<button id = "advanced-stats-button" class = "table-toggle-button" onclick="toggle_player_table(2, this)">Advanced Stats</button>
	</div>
	<table class = "stats-table" id = "per-game-table">
					
	</table>

	<table class = "stats-table" id = "adv-player-stats-table">
					
	</table>
	<table class = "stats-table" id = "per-minute-table">
					
	</table>
	<div class = "stat-page-header">Team Stats</div>
	<table class = "stats-table" id = "team-stats-table">
					
	</table>
	<table class = "stats-table" id = "adv-team-stats-table">
					
	</table>
	<div class = "stat-page-header">Player Profiles</div>
	<div id = "player-links">
		<%@players.each do |player|%>
			<div class = "player-link">
				<%= link_to player.nickname , team_member_path(@team.id, player.id) %>
			</div>
		<%end%>
	</div>

	<div id = "trends-header">Trends</div>
	<div id = "trends-grid">
		<div id = "trends-selector">
			<div id = "trends-buttons">
				<div id = "basic-trend-buttons">
					<% counter = 0 %>
					<% @trend_stat_lists.each do |stat| %>
						<button type = "button" class="btn trend-button-<%=counter%> trend-button" onclick = "select_basic_trend_stat(<%=counter%>, this)"><%=stat.stat%></button>
						<% counter += 1%>
					<%end%>
				</div>
			</div>
		</div>
		<div id = "trends-chart">	
		</div>
	</div>
	<div id = "shot-trends-header">Shot Distribution</div>
	<div id = "color-key">

		<div class="calibration" role="calibration">
			<div id = "color-key-header">EFG%</div>
	        <div class="group" role="example">
	          <svg width="350" height = "30">
	          </svg>
	                
	        </div>
	    </div>
	</div>
	<div id = "shot-trends"></div>


	<%= render 'games/game_mode_js_objects' %>
	<%= render 'stats/team_stat_tables_js' %>
	<%= render 'stats/trends/trends_js' %>
	<%= render 'stats/trends/trends_controller_js'%>
	<%= render 'stats/court/court_js' %>
	<%= render 'stats/court/court_controller_js' %>

	<script>
		var per_game_table = $("#per-game-table");
		var per_minute_table = $("#per-minute-table");
		var team_stats_table = $("#team-stats-table");
		var adv_stats_player_table = $("#adv-player-stats-table");
		var adv_stats_team_table = $("#adv-team-stats-table");
		var curr_basic_button = $("#basic-trend-buttons").children(".trend-button-0")[0]
		var curr_basic_index = 0;

		var total_games = <%=@num_games%>;

		initialize_tables(per_game_table, per_minute_table, team_stats_table, adv_stats_player_table, adv_stats_team_table)
		populate_display_stats_basic();
		populate_display_stats_adv();
		populate_opponent_stats();
		populate_team_display_stats_adv()
		populate_team_advanced_stats();
		populate_stat_array();
		populate_team_stats();

		sort_basic_table(18, true);
		populate_stat_tables(true);

		

		initialize_basic_trend_stat_arrays();
		select_basic_trend_stat(0, $('.trend-button-0')[ 0 ])

		$("#per-minute-table").hide();
		$("#adv-player-stats-table").hide()



		function initialize_basic_trend_stat_arrays(){

			var curr_stat_list_id = "<%= @stat_totals[0].stat_list_id%>";
			basic_trend_array.push({"arr" : [], "stat_list_id" :  "<%= @stat_totals[0].stat_list_id%>"});
			per_minute_trend_array.push({"arr" : [], "stat_list_id" :  "<%= @stat_totals[0].stat_list_id%>"});
			var curr_index = 0;
			var date_index = 0;

			<% @stat_totals.each do |stat| %>
				if("<%=stat.stat_list_id%>" != curr_stat_list_id){
					basic_trend_array.push({"arr" : [], "stat_list_id" : "<%=stat.stat_list_id%>"});
					per_minute_trend_array.push({"arr" : [], "stat_list_id" : "<%=stat.stat_list_id%>"});
					curr_stat_list_id = "<%=stat.stat_list_id%>"
					curr_index++;
					date_index = 0;
				}
				basic_trend_array[curr_index].arr.push({"value": parseInt("<%=stat.value%>"), "date" : "<%=stat.date%>"})
				per_minute_trend_array[curr_index].arr.push({"value" : parseFloat("<%=stat.value%>")/minutes_array[date_index], "date" : "<%=stat.date%>"})
				date_index++;
			<%end%>
		}

	</script>
<%else %>
<div id = "no-games-played">
	<%= image_tag("Court.jpg", :alt => "game-mode-preview", :class => "no-games-img") %>
</div>
<div class = "no-games-text">
	<div class = "no-games-header">You have not played any games yet!</div>
	<div class = "no-games-subheader">Create a game and submit stats to view data.</div>
</div>

<%end %>
