
<%= bootstrap_form_for(@play) do |f| %>
  <%= f.text_field  :name, 
                    maxlength: 100, 
                    placeholder: 'What is the name of the play?', 
                    class: 'form-control',
                    required: true, 
                    minlength: 1,
                    maxlength: 100 %>
  <div>Is this an offensive or defensive play?</div>
  <%= f.radio_button :offense_defense, true, label: "Offense", value: true  %>
  <%= f.radio_button :offense_defense, false, label: "Defense",  value: false%>
  <div>Is this play in the half court or the full court?</div>
  <%= f.radio_button :halfcourt_fullcourt, true, label: "Halfcourt", value: true  %>
  <%= f.radio_button :halfcourt_fullcourt, false, label: "Fullcourt", value: false  %> 
  <%= f.hidden_field :team_id,  value: @team_id  %> 
  <%= f.submit "Create play", class: 'form-control' %>
<% end %>
