
<div id="header-outer"  data-has-menu="true" data-has-buttons="yes" data-using-pr-menu="false" data-mobile-fixed="1" data-ptnm="false" data-lhe="animated_underline" data-user-set-bg="#ffffff" data-small-header = "true" data-format="centered-menu" data-permanent-transparent="false" data-megamenu-rt="0" data-remove-fixed="0" data-header-resize="1" data-cart="false" data-transparency-option="" data-box-shadow="small" data-shrink-num="6" data-full-width="true" data-condense="false" data-using-secondary="0" data-using-logo="1" data-logo-height="45" data-m-logo-height="24" data-padding="32" data-transparent-header="false" data-transparent-shadow-helper="false" data-remove-border="true" class="transparent">
  
<header id="top">
  <div class="container">
  <div class="row">
    <div class="col span_3">
    <%= link_to root_path, {:id => "logo"} do %> 
        <img class="stnd default-logo" alt="ATeam" src="<%= asset_path 'logo-grey.png' %>" srcset="<%= asset_path 'logo-grey.png' %> 1x,<%= asset_path 'logo-grey.png' %> 2x" />
        <img class="starting-logo default-logo"  alt="ATeam" src="<%= asset_path 'logo-white.png' %>" srcset="<%= asset_path 'logo-white.png' %> 1x, <%= asset_path 'logo-white.png' %> 2x" />
        <img class="starting-logo dark-version default-logo"  alt="ATeam" src="<%= asset_path 'logo-grey.png' %>" srcset="<%= asset_path 'logo-grey.png' %> 1x, <%= asset_path 'logo-grey.png' %> 2x" /> 
    <%end %> 
    </div><!--/span_3-->
     
    <div class="col span_9 col_last">
       <%=render collapsible_links_partial_path%>
    </div><!--/span_9-->

    
  </div><!--/row-->
  </div><!--/container-->
</header>
</div>

<script>
  $("body").addClass("material")
</script>