<!DOCTYPE html>
<html>
  <head>
    <title>BballSite</title>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Fredoka+One|Libre+Baskerville|Noto+Serif+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Raleway|Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Orbitron&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href='https://unpkg.com/@fullcalendar/core@4.2.0/main.min.css' rel='stylesheet' />
    <link href='https://unpkg.com/@fullcalendar/daygrid@4.2.0/main.min.css' rel='stylesheet' />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src = "https://unpkg.com/@fullcalendar/core@4.2.0/main.min.js"></script>
    <script src = "https://unpkg.com/@fullcalendar/daygrid@4.2.0/main.min.js"></script>
    <script src = "https://unpkg.com/@fullcalendar/interaction@4.2.0/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js"></script>
    <script src="https://unpkg.com/anycontrol/dist/index.umd.min.js"></script>

   
    <meta name="turbolinks-cache-control" content="no-cache">

    

    
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <% if !Rails.env.test? %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <% end %>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data(init: true) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body 
    <% if content_for?(:body_attributes) %>
      <%= yield(:body_attributes) %> 
    <% end %> class = "<%= controller_name %> <%= action_name %>">
    <%= render 'layouts/navigation' %>
    <%= yield %>
    
    <%= render 'layouts/application/private_conversations_windows' %>
    <%= render 'layouts/application/group_conversations_windows' %>
  </body>

  <script>
    /*
    var ctrl = new anycontrol()
 
    ctrl.addCommand("help", function() {
      console.log("HELP")
      alert("help")
    });

    ctrl.addCommand("make", function() {
      alert("make")
    });

    ctrl.addCommand("miss", function() {
      alert("miss")
    });


    ctrl.addCommand("assist", function(){
      alert("ASSIST")
    })

    ctrl.addCommand("a cyst", function(){
      alert("ASSIST")
    })

    ctrl.addCommand("rebound", function(){
      alert("REBOUND")
    })
   
    ctrl.addCommand("test", function () {
      console.log("TEST")
      alert("test")
    });
   
    ctrl.start();*/
  </script>
</html>

